@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
}

@utility input-no-style {
  @apply bg-transparent !p-0 outline-none placeholder:text-placeholder text-heading font-medium;
}

@utility font-medium-tight {
  @apply font-medium tracking-tight;
}

.transform-opacity-transform {
  transition-property: transform, translate, scale, rotate, opacity;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
  );
  transition-duration: var(
    --tw-duration,
    var(--default-transition-duration) /* 150ms */
  );
}
