@theme inline {
  /* Regular Font Sizes */
  --text-xxs: 0.625rem; /* 10px */
  --text-xxs--line-height: calc(var(--text-xxs) * 1.4); /* 14px */
  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: calc(var(--text-xs) * 1.4); /* 16.8px */
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: calc(var(--text-sm) * 1.4); /* 19.6px */
  --text-base: 1rem; /* 16px */
  --text-base--line-height: calc(var(--text-base) * 1.4); /* 22.4px */
  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: calc(var(--text-lg) * 1.3); /* 23.4px */
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: calc(var(--text-xl) * 1.3); /* 26px */
  --text-1xl: 1.5rem; /* 24px */
  --text-1xl--line-height: calc(var(--text-1xl) * 1.3); /* 31.2px */
  --text-2xl: 1.75rem; /* 28px */
  --text-2xl--line-height: calc(var(--text-2xl) * 1.3); /* 36.4px */
  --text-3xl: 2rem; /* 32px */
  --text-3xl--line-height: calc(var(--text-3xl) * 1.3); /* 41.6px */
  --text-4xl: 2.25rem; /* 36px */
  --text-4xl--line-height: calc(var(--text-4xl) * 1.3); /* 46.8px */
  --text-5xl: 2.5rem; /* 40px */
  --text-5xl--line-height: calc(var(--text-5xl) * 1.3); /* 52px */
  --text-6xl: 3rem; /* 48px */
  --text-6xl--line-height: calc(var(--text-6xl) * 1.1); /* 52.8px */
  --text-7xl: 3.5rem; /* 56px */
  --text-7xl--line-height: calc(var(--text-7xl) * 1.1); /* 61.6px */
  --text-8xl: 4rem; /* 64px */
  --text-8xl--line-height: calc(var(--text-8xl) * 1.1); /* 70.4px */
  --text-9xl: 4.5rem; /* 72px */
  --text-9xl--line-height: calc(var(--text-9xl) * 1.1); /* 79.2px */
  --text-10xl: 5rem; /* 80px */
  --text-10xl--line-height: calc(var(--text-10xl) * 1.1); /* 88px */
  --text-11xl: 6rem; /* 96px */
  --text-11xl--line-height: calc(var(--text-11xl) * 1.1); /* 105.6px */
  --text-12xl: 8rem; /* 128px */
  --text-12xl--line-height: calc(var(--text-12xl) * 1.1); /* 140.8px */

  /* Headings Font Sizes */
  --text-h13: clamp(0.94rem, 0.7525rem + 0.9875vw, 1.25rem); /* 15.04px-20px */
  --text-h13--line-height: clamp(
    1.22rem,
    0.98625rem + 1.29875vw,
    1.625rem
  ); /* 19.52px-26px */
  --text-h12: clamp(1.13rem, 0.915rem + 1.17vw, 1.5rem); /* 18.08px-24px */
  --text-h12--line-height: clamp(
    1.46rem,
    1.1775rem + 1.5225vw,
    1.95rem
  ); /* 23.36px-31.2px */
  --text-h11: clamp(1.31rem, 1.0575rem + 1.3875vw, 1.75rem); /* 20.96px-28px */
  --text-h11--line-height: clamp(
    1.71rem,
    1.3775rem + 1.86625vw,
    2.275rem
  ); /* 27.36px-36.4px */
  --text-h10: clamp(1.5rem, 1.21rem + 1.58vw, 2rem); /* 24px-32px */
  --text-h10--line-height: clamp(
    1.95rem,
    1.57rem + 2.07vw,
    2.6rem
  ); /* 31.2px-41.6px */
  --text-h9: clamp(1.69rem, 1.3625rem + 1.7775vw, 2.25rem); /* 27.04px-36px */
  --text-h9--line-height: clamp(
    2.19rem,
    1.7625rem + 2.34625vw,
    2.925rem
  ); /* 35.04px-46.8px */
  --text-h8: clamp(1.88rem, 1.515rem + 1.975vw, 2.5rem); /* 30.08px-40px */
  --text-h8--line-height: clamp(
    2.44rem,
    1.955rem + 2.615vw,
    3.25rem
  ); /* 39.04px-52px */
  --text-h7: clamp(1.95rem, 1.55rem + 2.5vw, 3rem); /* 31.2px-48px */
  --text-h7--line-height: clamp(
    2.15rem,
    1.705rem + 2.75vw,
    3.3rem
  ); /* 34.4px-52.8px */
  --text-h6: clamp(2.28rem, 1.805rem + 2.925vw, 3.5rem); /* 36.48px-56px */
  --text-h6--line-height: clamp(
    2.51rem,
    1.985rem + 3.225vw,
    3.85rem
  ); /* 40.16px-61.6px */
  --text-h5: clamp(2.6rem, 2.05rem + 3.4vw, 4rem); /* 41.6px-64px */
  --text-h5--line-height: clamp(
    2.86rem,
    2.25rem + 3.74vw,
    4.4rem
  ); /* 45.76px-70.4px */
  --text-h4: clamp(2.93rem, 2.305rem + 3.875vw, 4.5rem); /* 46.88px-72px */
  --text-h4--line-height: clamp(
    3.22rem,
    2.515rem + 4.265vw,
    4.95rem
  ); /* 51.52px-79.2px */
  --text-h3: clamp(3.25rem, 2.55rem + 4.35vw, 5rem); /* 52px-80px */
  --text-h3--line-height: clamp(
    3.58rem,
    2.795rem + 4.785vw,
    5.5rem
  ); /* 57.28px-88px */
  --text-h2: clamp(3.6rem, 2.8rem + 5vw, 6rem); /* 57.6px-96px */
  --text-h2--line-height: clamp(
    3.96rem,
    3.08rem + 5.5vw,
    6.6rem
  ); /* 63.36px-105.6px */
  --text-h1: clamp(4.8rem, 3.7rem + 6.8vw, 8rem); /* 76.8px-128px */
  --text-h1--line-height: clamp(
    5.28rem,
    4.07rem + 7.48vw,
    8.8rem
  ); /* 84.48px-140.8px */
}
